@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat';
}

body, h1, h2 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border : 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1); /**/
}

.title-box {
text-align: right;
}

.name-text {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}

section {
    margin-bottom: 24px;
}


.about-me-text {
    font-size: 10px;
    line-height: 16px; /*이게 글 보기가 제일 좋음*/
}

.float-wrap {
    overflow: hidden; /*float로 띄운 요소를 다 묶고, 그 다음 요소들이 float의 영향을 받지 않게 한다.*/
    margin-bottom: 4px;
}

.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.desc-text {
    font-size: 9px;
    margin-bottom:6px;
}

.desc-subtext {
    font-size: 9px;
    color: #282828;
    padding-left: 16px;
    margin-bottom:8px;
}

.sns-wrap {
    text-align: right;
}

.sns-img {
    width: 12px;
    height: 12px;
}

footer {
text-align: center;
background-color: #1e1e1e;
padding: 20px;
font-size: 12px;
color: #919191;
}